{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ parent() }}Accueil{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="text-center m-3 col-12">
            <h1 class="m-5">Bienvenue sur la page d'administration</h1>
            <p>Quelles options souhaitez-vous modifier ? </p>
            <a class="btn btn-dark" href="{{ path('adminSkill') }}">Technologies</a>
            <a class="btn btn-dark" href="#">Frameworks & Querys</a>
            <a class="btn btn-dark" href="#">CMS</a>
            <br><a class="btn btn-dark m-2" href="#">Projets</a>
            <br><a class="btn btn-outline-dark m-5" href="#">Retourner sur le site</a>

        </div>
    </div>
</div>
{% endblock %}
